SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080
SPRING_DATA_MONGODB_URI=mongodb://admin:password123@mongodb:27017/database?authSource=admin
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password123
MONGO_INITDB_DATABASE=database